@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.technology-icons {
    color: #ffffff;
    min-width: 5rem;
    min-height: 5rem;
}

.glass-blur {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(133, 137, 194, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#img-about-me {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@layer components {
    .btn {
        @apply shadow-xl py-2 px-3 rounded
    }

    .btn-indigo {
        @apply bg-indigo-500 text-white hover:bg-indigo-400 transition
    }
}

